<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>SpacexEX</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block background %}
    {% endblock %}
</head>
<body>
<div>
    <div>
        <ul class="menu-bar">
            <li class="logo"><a href="/main/"><img src="{% static 'images/logo_spacexex_1223.png' %}"></a>
            <li>
                <a href="/rockets/">ROCKETS</a>
            </li>
            <li>
                <a href="/satellites/">SATELLITES</a>
            </li>
            <li>
                <a href="/places_on_orbits/">ORBITS</a>
            </li>
            <li>
                <a href="/flights/">FLIGHTS</a>
            </li>
        </ul>
    </div>
    <div class="main_body">
        {% block space_app %}
        {% endblock %}

        {% block log %}
        {% endblock %}

        {% block main %}
        {% endblock %}
    </div>
    <div class="footer">
        <div class="userpanel">
            {% if user.is_authenticated %}
                <span class="amount">USER:&nbsp
                <img src="{% static 'images/user.png' %}" width=20px>
                &nbsp{{ user }}</span>
                <a href="{% url 'logout' %}">LOG-OUT</a>
                {% if user.is_superuser %}
                    <a href="{% url 'user_list' %}">USERS LIST</a>
                {% endif %}
            {% else %}
                <a href="{% url 'myLoginView' %}"><span class="amount">LOG-IN</span></a>
                <a href="{% url 'SingUpView' %}">CREATE ACCOUNT</a>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>