{% extends 'base.html' %}
{% block background %}
    <style>
        body {
            background: url("https://images.unsplash.com/photo-1457364887197-9150188c107b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1950&q=80") center/cover no-repeat;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block space_app %}
    <h1 CLASS="amount">
        DESTINATION: {{ flight.destination }}
    </h1>
    <h2>
        ROCKET: {{ flight.rocket }}
    </h2>
    <h2>
        SATELLITE: {{ flight.satellite }}
    </h2>
    <h2>
        LAUNCH SITE: {{ flight.launchsite }}
    </h2>
    <h2>
        DEPARTURE DATE: {{ flight.departure_date }}
    </h2>
    <h2>
        FLIGHT ID: {{ flight.flight_id }}
    </h2>
{% endblock %}

