{% extends 'base.html' %}
{% block background %}
    <style>
        body {
            background: url("https://images.unsplash.com/photo-1534351329407-fb35592df1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") center/cover no-repeat;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block space_app %}
    <ul>
        ORBIT: {{ place_on_orbit.orbit }}
    </ul>
    <ul>
        PURPOSE: {{ place_on_orbit.purpose }}
    </ul>
    <ul>
        start date: {{ place_on_orbit.start_date }}
    </ul>
    <ul>
        PURPOSE: {{ place_on_orbit.expiration_date }}
    </ul>
{% endblock %}

