{% extends 'base.html' %}
{% block background %}
    <style>
        body {
            background: url("https://images.unsplash.com/photo-1516849841032-87cbac4d88f7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") center/cover no-repeat;
            height: 100vh;
        }
    </style>
{% endblock %}
{% block space_app %}
    <h1 CLASS="amount">
        NAME: {{ rocket.name }}
    </h1>
    <h2>
        LAUNCH PRICE: {{ rocket.launch_price }}
    </h2>
    <h2>
        PRODUCER: {{ rocket.producer }}
    </h2>
{% endblock %}

